<h1 class="text-center mt-4">Listing All Articles</h1>
<div class="container">
  <%= render @articles %>
</div>
<p>
	<%= link_to 'Home page', root_path %> |
	<%= link_to 'Create new article', new_article_path %>
</p>
