<h1 class="text-center mt-4">Listing All Articles</h1>
<div class="pagination justify-content-center mt-5">
  <%= will_paginate @articles %>
</div>
<%= render @articles %>
<div class="pagination justify-content-center">
  <%= will_paginate @articles %>
</div>
