<h1 class="text-center mt-4">Listing All Categories</h1>
<div class="pagination justify-content-center mt-5">
  <%= will_paginate @categories %>
</div>
<%= render @categories %>
<div class="pagination justify-content-center">
  <%= will_paginate @categories %>
</div>
